<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-10 align-self-center fs-1">
        <span>City</span>
      </div>
      <div class="col-1" (click)="onDelete()">
        <button class="btn p-0">
          <i class="bi bi-trash text-danger fs-3"></i>
        </button>
      </div>
      <div class="col-1" (click)="onClick()">
        <button class="btn p-0">
          <i class="bi bi-box-arrow-in-right text-success fs-3"></i>
        </button>
      </div>
    </div>
  </div>
</div>
