<div class="w-100 position-relative">
  <button class="btn btn-lg end-0 position-absolute mt-0 pt-0" mat-dialog-close>
    <i class="bi bi-x-circle text-danger fw-bold"></i>
  </button>
</div>

<h2 mat-dialog-title>Sign Up</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="newUserForm">
    <!-- user -->
    <mat-form-field class="w-100">
      <input
        matInput
        placeholder="Username"
        formControlName="username"
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="newUserForm.get('username').hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- password 1 -->
    <mat-form-field class="w-100">
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        [errorStateMatcher]="matcher"
        type="password"
      />
      <mat-error *ngIf="newUserForm.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    class="btn btn-success"
    [disabled]="!newUserForm.valid"
    (click)="onGoClicked()"
  >
    GO!
  </button>
</mat-dialog-actions>
