<div class="row">
  <div class="col">
    <div class="vertical-form-field">
      <div>
        <mat-form-field>
          <input
            id="search-input"
            type="search"
            placeholder="Search..."
            matInput
            [formControl]="formControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let city of filteredCities | async"
              [value]="city.name"
            >
              {{ city.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col align-self-center">
    <button type="button" class="btn btn-success ms-2" (click)="likedCity()">
      <i class="bi bi-heart-fill"></i>
    </button>
  </div>
</div>
