<div class="row p-5 text-center">
  <div class="card px-5 py-3 col-md-8 mx-auto">
    <h1 class="w-100">LOGIN</h1>
    <div>
      <div class="input-group">
        <span class="input-group-text">Username</span>
        <input type="text" class="form-control" placeholder="root" />
      </div>
      <div class="input-group mt-2">
        <span class="input-group-text">Password</span>
        <input type="password" class="form-control" placeholder="root" />
      </div>
    </div>
    <div class="row mt-5">
      <button class="btn btn-primary col mx-3" (click)="onSignIn()">
        Sign in
      </button>
      <button class="btn btn-secondary col mx-3" (click)="onSignUp()">
        Sign up
      </button>
    </div>
  </div>
</div>
